@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Major+Mono+Display&family=Mukta&family=Overpass+Mono&family=Poppins&family=Fira+Sans&display=swap');
$mono: 'Major Mono Display', monospace;
$overpass: 'Overpass Mono', monospace;
$breakpoint: 100ch;

html {
    font-family: $overpass;
    text-align: justify;
    font-size: 16px;
}

a:visited, link:visited {
    color: black;
}

a:hover {
    color: white;
    background-color: rgb(134, 134, 134);
}

h1 {
    font-family: $mono;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: $mono;
    font-size: 2.5rem;
    text-align: left;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.artist-link:visited, .artist-link:link {
    color: black;
}
.artist-link:hover {
    background-color: black;
    color: white;
}